{% comment %} {% load custom_tags %} {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Accounting services</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/aos.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static  'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static  'styles/aos.css' %}">


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css" rel="stylesheet"> -->
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#"><span class="text-warning">PSP</span>Accounting&Co</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#vacancies" id="vacanciesLink">Vacancies</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

      <div class="modal fade" id="noJobsModal" tabindex="-1" role="dialog" aria-labelledby="noJobsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-white" id="noJobsModalLabel">No jobs available</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
              <p>We currently have no job vacancies. Check back later!</p>
            </div>
          </div>
        </div>
      </div>
    

    <div id="carousel_slides" class="carousel slide" data-bs-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/acc1.jpg' %}" class="d-block w-100 card-img" alt="alt text">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/acc4.jpg' %}" class="d-block w-100 card-img" alt="alt text">
              </div>
            <div class="carousel-item">
                <img src="{% static 'images/acc2.jpg' %}" class="d-block w-100 card-img" alt="alt text">
            </div>

            <div class="carousel-item">
              <img src="{% static 'images/acc3.jpeg' %}" class="d-block w-100 card-img" alt="alt text">
          </div>
        </div>
    </div>
    <section id="about"> 

    </section> 
    <div a href="" class="container  mt-5">
      <!-- <h1>About</h1> -->
      <div class="container text-center mt-5">
        
        <span style=" color: grey; font-size: 16.0pt; mso-bidi-font-size: 16.0pt;">PNYN ACCOUNTANTS (PNYN) is a black owned accounting firm offering South African businesses and individual with the financial services solutions. Based in Cape Town. PNYN is equipped with qualified accountants, tax practitioner and business consultants ready and competent to assist our clients.
          The business was formed in 2023, by the Ngubane family. This was inspired by Mr Maxwell Ngubane the first member of the family who joined the accounting profession. With experience in the accounting industry of more than 25 years both in the public and private sector, with more than 9 years of experience working as a senior finance manager at GJ Crooks Hospital, in Kwazulu-Natal, Scottburgh. This became a family tradition say his son, Phelelani Ngubane and daughter in law, Nothando Ngubane both joined the accounting sector. 
          </span style="font-size: 12.0pt; mso-bidi-font-size: 14.0pt;">
      </div>
    </div>

    <section id="services"> 

    </section> 

    <div class="container  mt-5">
      <div class="container text-center mt-5">
        <h1>We're all about</h1>

        <h1><span class="text-warning">Accounting</span> solutions!</h1>
          
    </div>


    </div>

    <div class="container">
      <div class="row">


        <div class="col-lg-3 col-md-4 col-sm-12 mt-5 mb-4 toggleCard">
            <div class="card" data-aos="fade-up" data-aos-duration="500">
                <div class="card-body" style="box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);">
                    <h5 class="card-title">Monthly Invoicing</h5>
                    <p class="card-text">
                        Our monthly invoicing service includes the creation and distribution of professional invoices to your clients. We ensure accuracy in billing, track payment statuses, and provide you with a comprehensive overview of your receivables. 
                   </p>
                    <div style="text-align: center;">
                        <div style="text-align: center;">
                            <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Read More</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 mt-5 mb-4 toggleCard">
            <div class="card" data-aos="fade-down" data-aos-duration="500">
                <div class="card-body" style="box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);">
                    <h5 class="card-title">Cash Flow Forecasting</h5>
                    <p class="card-text">
                        Cash flow forecasting involves analyzing your past financial data to predict future cash inflows and outflows. We help you anticipate potential gaps, allowing for proactive decision-making and ensuring your business has the liquidity needed to operate smoothly.                    </p>
                    <div style="text-align: center;">
                        <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Read More</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 mt-5 mb-4 toggleCard">
            <div class="card" data-aos="fade-down" data-aos-duration="500">
                <div class="card-body" style="box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);">
                    <h5 class="card-title">Individual Tax Returns</h5>
                    <p class="card-text">
                        Our Individual Tax Returns service is tailored for individuals seeking accurate and timely filing of their personal income taxes. We guide you through the process, identify eligible deductions, and maximize your tax benefits while ensuring compliance with tax laws.
                    </p>                        
                    <div style="text-align: center;">
                        <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Read More</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 mt-5 mb-4 toggleCard">
            <div class="card" data-aos="fade-up" data-aos-duration="500">
                <div class="card-body" style="box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);">
                    <h5 class="card-title">VAT Returns:</h5>
                    <p class="card-text">
                        Value Added Tax (VAT) Returns can be complex, but our service simplifies the process. We handle the preparation and submission of your VAT returns, ensuring accurate reporting of input and output taxes. This helps your business maintain compliance and facilitates smooth interactions with tax authorities.
                    </p>
                    <div style="text-align: center;">
                        <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Read More</button>
                    </div>

                </div>
            </div>
        </div>
          
        <div class="col-lg-3 col-md-4 col-sm-12 mt-5 mb-4 toggleCard">
            <div class="card" data-aos="flip-left" data-aos-duration="600">
                <div class="card-body" style="box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);">
                    <h5 class="card-title">Payroll Calculation:</h5>
                    <p class="card-text">
                        Our payroll calculation service covers all aspects of employee compensation. From basic salary calculations to tax deductions and benefits administration, we ensure accurate and compliant payroll processing, saving you time and reducing the risk of errors.
                    </p>
                    <div style="text-align: center;">
                        <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Read More</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 mt-5 mb-4 toggleCard">
            <div class="card" data-aos="flip-left" data-aos-duration="600">
                <div class="card-body" style="box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);">
                    <h5 class="card-title">Budget/Forecasts</h5>
                    <p class="card-text">
                        Our budget and forecasting services involve creating detailed financial plans aligned with your business goals. We work collaboratively with you to set realistic targets, monitor performance against these goals, and make adjustments as needed for optimal financial management.
                    </p>
                    <div style="text-align: center;">
                        <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Read More</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 mt-5 mb-4 toggleCard">
            <div class="card" data-aos="flip-left" data-aos-duration="600">
                <div class="card-body" style="box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);">
                    <h5 class="card-title">Statement of Profit/Loss</h5>
                    <p class="card-text">
                        The Statement of Profit and Loss, also known as the Income Statement, outlines your company's revenues, expenses, and profits over a specific period. We meticulously prepare this statement to help you understand your business's profitability and identify areas for improvement.
                    </p>
                    <div style="text-align: center;">
                        <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Read More</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 mt-5 mb-4 toggleCard">
            <div class="card" data-aos="flip-left" data-aos-duration="600">
                <div class="card-body" style="box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);">
                    <h5 class="card-title">Annual Financial Statements</h5>
                    <p class="card-text">
                        Our Annual Financial Statements service involves the preparation and presentation of comprehensive financial reports summarizing your company's financial performance over the fiscal year. These statements are crucial for stakeholders, providing a clear overview of your business's financial health.
                    </p>
                    <div style="text-align: center;">
                        <div style="text-align: center;">
                            <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Read More</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        
        
        
        
      </div>

      <section id="contact">
              <p>We aim to achieve market growth in this competitive accounting market and also to improve our clients satisfaction by delivering a services that is reliable and reviewed by our Professional Accountants.
        Our firm also aims to assist new established, small and medium companies with their accounting function to be sustainable at a reasonable rate.</p>
    </section>

        <div class="container  mt-5">
          <div class="container text-center mb-5 mt-5">
            <h5>REACH OUT, WE WILL GET BACK TO YOU</h5>    
    
        </div>
        
        <div class="con">
          
          <form>
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required>
  
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
  
              <label for="phone">Phone Number:</label>
              <input type="tel" id="phone" name="phone">
  
              <label for="message">Message:</label>
              <textarea id="message" name="message" rows="4" required></textarea>
  
              <div style="text-align: center;">
                <button class="toggleButton" style="background-color: white; color: grey; border: 3px solid grey;">Submit</button>
            </div>

        </form>
  
          <div class="img-container">
            <img src="{% static 'images/acc6.jpg' %}" alt="Image description">
        </div>      
      </div>
    </div>

    <!-- <section id="contact"> 

    </section>  -->
    
    <footer class="bg-light pt-5 pb4">
        <div class="containe text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">PSPAccounting</h5>
                    <p>PSP Accounting & Co is a trusted accounting firm committed to delivering comprehensive financial solutions. With a team of experienced professionals, we specialize in providing a range of accounting and financial services tailored to meet the unique needs of businesses. </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Corporate Services</h5>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Formulation of company</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Shelf company</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Company search</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">CIPC annual retuns</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">CIPC Nil returns</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Shares Transfers</a>
                    </p>
                    
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">More Corporate Services</h5>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Change of director</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Change of registered office</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Additional director</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Alternation of MOI</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">Change of Name</a>
                    </p>
                    <p>
                        <a href="#" class="" style="text-decoration: none;">New set of MOI</a>
                    </p>
                    
                </div>
                <div class="col-md-4 col-lg-3 col=xl-3 mx-auto mt-3">
                    <h5 class=" mb-4 text-warning">Contact</h5>
                    <p>
                        <i class="fas fa-home mr-3">Cape town</i>
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3">njilokg@gmail.com</i>
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3">027832783467</i>
                    </p>
                    <p>
                        <i class="fas fa-print mr-3">23415678320</i>
                    </p>
                    <div class="row-md-5 row-lg-4">
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm " style="font-size: 23px;"><i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm " style="font-size: 23px;"><i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm " style="font-size: 23px;"><i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm " style="font-size: 23px;"><i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row align-items-center">
                    
                    
                    <div class="col-md-7 col-lg-8">
                        <p>
                            Copyright @2024 All rights reserved by:
                            <a href="#" style="text-decoration: none;">
                                <strong class="">..Software</strong>
                            </a>
                        </p>
                    </div>
                </div>
        </div>

  </footer>





    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="js/carousel.js"></script>
<script src="js/toggle_text.js"></script>
<script src="js/vacancies.js"></script>
<script src="js/aos.js"></script>

<script src="{% static 'js/aos.js' %}"></script> 
<script src="{% static 'js/vacancies.js' %}"></script> 
<script src="{% static 'js/toggle_text.js' %}"></script> 
<script src="{% static 'js/carousel.js' %}"></script> 


<script>
    AOS.init();
</script>



</body>

</html>
